@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
background: rgb(9, 8, 69);
  background: linear-gradient(90deg, rgba(9, 8, 69, 1) 17%, rgba(23, 23, 134, 1) 45%, rgba(19, 62, 159, 1) 75%);
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}